<h1>Morning or Evening?</h1>
<a href="reporting/morning"> morning </a>
<% if (morning) { %>
    &nbsp&nbsp&nbsp&nbspDone Today!
<% } else { %>
    &nbsp&nbsp&nbsp&nbsp&nbspNot Done yet!
<% } %>
<br>
<br><a href="reporting/evening"> evening </a>
<% if (evening) { %>
    &nbsp&nbsp&nbsp&nbsp&nbspDone Today!
<% } else { %>
    &nbsp&nbsp&nbsp&nbsp&nbspNot Done yet!
<% } %>
<br>
<br><a href="/behavior/trend"> homepage </a>